{% if session_name == "Networking" %}
	Welcome to the {{ session_name }} session of the DevOps Academy!

    You might want to scan the following port range 5550-5560 with nmap
{% elif session_name == "Packer" %}
	Welcome to the {{ session_name }} session of the DevOps Academy!
{% else %}
	Hello World
{% endif %}

